.one{
  /*color: #ffffff;
  text-align:center;
  font-family:  italic;
  font-size: 90px;
  font-style: italic;
  */
  font-size: 7em;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  position: relative;
  top:0px;
  padding-top: 60px;
  text-align: center;
}

h1{
  text-align: center;
  color: white;
  text-decoration: none;
}
body{
  background-color:rgb(1,30,73);
  margin: 0;
  color: white;
}

/*navBar*/

ul {
  list-style-type: none;  
  overflow: hidden;
  background-color: rgb(1,30,73);
  display:flex;
  flex:wrap;
  justify-content: flex-end;
  opacity: .9;
  margin: 0px;
}                       

.menu{
  display: inline;
  padding: 0;
  
}

.menu a {
text-decoration: none;
padding-right: 1em;
padding-left: 1em;
padding-top: 3em;
padding-bottom: 1em;
/*float: left;
text-align: center;*/
color: white;
font-family: Oswald, sans-serif, bold;
letter-spacing: 1px;
font-size: 1.3em;
display:flex;
flex:wrap;
justify-content: flex-end
}

.menu a:hover {
  background-color: cadetblue;

}

                                                                                                                                                                                                                                                                                                                                                    
.intro{
  
  background: url('assets/trees.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 38em;
  margin-top: 0;
}


.typewrite{
  color: white;
  text-decoration: none;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*white-space: nowrap;*/
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  text-align: center;
  padding-top:10em;
  padding-left: 6em;
  padding-right: 7em;
  width: 20em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0}
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

a{
  color: white;
  text-decoration: none;
}
.wrap{
  background: rgb(1,30,73);
  opacity: .9;
}

p{
  text-align: center;
}

.cute{
  text-decoration: none;
}